$primary-color: #00bb2d;
$secondary-color: #000;
$details-color: #007a1d;

.header {
  height: 100vh;
  background-color: $primary-color;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;

  .title {
    font-size: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: -5rem;
    position: relative;
    margin-block-start: 10rem;
    line-height: 1em;

    & span:first-child {
      display: inline-block;
      animation-name: title-up;
      animation-duration: 1.5s;
      animation-delay: 1.5s;
      animation-fill-mode: both;
    }

    & span:nth-child(2) {
      display: inline-block;
      animation-name: title-down;
      animation-duration: 1.5s;
      animation-delay: 1.5s;
      animation-fill-mode: both;
    }
  }

  .presentation {
    font-size: 2rem;
    width: 15rem;
    position: relative;
    top: -12rem;
    left: 13rem;

    span {
      margin-inline-end: 0.4rem;
    }

    span.left {
      display: inline-block;
      animation-name: left;
      animation-duration: 2s;
      animation-delay: 1.5s;
      animation-fill-mode: both;
    }

    span.right {
      display: inline-block;
      animation-name: right;
      animation-duration: 2s;
      animation-delay: 1.5s;
      animation-fill-mode: both;
    }

    .football-container {
      animation-name: left;
      animation-duration: 2s;
      animation-delay: 1.5s;
      animation-fill-mode: both;
      width: auto;
      height: auto;
      position: absolute;
      top: 7rem;
      left: 11rem;

      .football {
        width: 3rem;
        height: auto;
        position: absolute;
        animation-name: football;
        animation-iteration-count: infinite;
        animation-duration: 3s;
        animation-fill-mode: both;
        display: block;
      }
    }
  }

  .anim-button-container {
    position: absolute;
    top: 86%;
    display: flex;
    align-items: center;
    gap: 1rem;
    animation-name: title-up;
    animation-duration: 1.5s;
    animation-delay: 2s;
    animation-fill-mode: both;

    .button {
      background-color: transparent;
      border: solid 2px #000;
      font-size: 2rem;
      padding: 0.8rem;
      border-radius: 1rem;
      cursor: pointer;
    }

    & .anim-arrow,
    & .anim-arrow--right {
      &::before {
        content: '╲╱';
        font-weight: 600;
        font-size: 1rem;
        animation-name: arrows;
        animation-duration: 1.4s;
        animation-delay: 0.8s;
        animation-iteration-count: infinite;
        display: block;
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  .header {
    height: 100vh;
    background-color: $primary-color;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    overflow: hidden;
    position: relative;

    .title {
      justify-content: center;
      margin-block-start: 5rem;

      & span {
        font-size: 8rem;
        line-height: 8rem;
      }
    }

    .presentation {
      font-size: 2rem;
      width: 30rem;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .football-container {
        top: -5rem;
        left: 20rem;
      }
    }
  }
}

@media only screen and (max-width: 460px) {
  .header {
    gap: 4rem;

    .title {
      & span {
        font-size: 5rem;
        line-height: 5rem;
      }
    }

    .presentation {
      width: 20rem;

      .football-container {
        top: 10rem;
        left: 9rem;
      }
    }
  }
}
