$primary-color: #00bb2d;
$secondary-color: #000;
$details-color: #007a1d;

.header {
  height: 100vh;
  background-color: $primary-color;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;

  .title {
    font-size: 5rem;
    display: grid;
    align-items: center;
    line-height: 5rem;

    & * {
      display: inline-block;
      animation-name: title-up;
      animation-duration: 1.5s;
      animation-delay: 1.5s;
      animation-fill-mode: both;
    }

    & :last-child {
      animation-name: title-down;
    }
  }

  .presentation {
    font-size: 2rem;
    width: 15rem;
    position: relative;

    span {
      margin-inline-end: 0.4rem;
      display: inline-block;
      animation-duration: 2s;
      animation-delay: 1.5s;
      animation-fill-mode: both;
      animation-name: left;
    }

    span.right {
      animation-name: right;
    }

    .football-container {
      width: 5rem;
      height: 5rem;
      position: absolute;
      bottom: 0;
      left: 11rem;
      text-align: center;

      .football {
        width: 3rem;
        animation-name: football;
        animation-iteration-count: infinite;
        animation-duration: 3s;
        animation-fill-mode: both;
        display: block;
      }
    }
  }

  .anim-button-container {
    position: absolute;
    top: 84%;
    display: flex;
    align-items: center;
    gap: 1em;
    animation-name: title-up;
    animation-duration: 1.5s;
    animation-delay: 2s;
    animation-fill-mode: both;

    .button {
      background-color: transparent;
      border: solid 2px #000;
      font-size: 2em;
      padding: 0.8em;
      border-radius: 1rem;
      cursor: pointer;
    }

    & .anim-arrow,
    & .anim-arrow--right {
      &::before {
        content: '╲╱';
        font-weight: 600;
        font-size: 1em;
        animation-name: arrows;
        animation-duration: 1.4s;
        animation-delay: 0.8s;
        animation-iteration-count: infinite;
        display: block;
      }
    }
  }
}
