@use 'header';
@use 'animations';

$primary-color: #00bb2d;
$secondary-color: #000;
$details-color: #007a1d;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bebas Neue', sans-serif;
}

body,
html {
  overflow-x: hidden;
  background-color: $primary-color;
}

.main {
  & .widget {
    width: 30rem;
    height: 17rem;
    margin: 5rem auto;
    background-color: lighten($secondary-color, 50%);
    border-radius: 3rem;
    border: 2px solid $secondary-color;
    display: grid;
    justify-content: center;

    .table {
      width: 25rem;
      height: 14rem;

      &,
      td,
      th {
        border-collapse: collapse;
        border-left: 1px solid #0005;
        border-right: 1px solid #0005;
        padding: 0.3rem;
        text-align: center;
      }
    }
  }
}
