@use 'header';
@use 'animations';

$primary-color: #00bb2d;
$secondary-color: #000;
$details-color: #007a1d;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bebas Neue', sans-serif;
}

body,
html {
  overflow-x: hidden;
  background-color: $primary-color;
}

.main {
  width: 100%;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
  & .widget {
    width: 100%;
    height: min-content;
    margin: 5rem auto;
    background-color: #71c68e;
    border-radius: 1.6rem;
    border: 2px solid $secondary-color;
    display: grid;
    justify-content: center;

    .table {
      width: 100%;
      height: 25rem;

      &,
      td,
      th {
        border-collapse: collapse;
        padding: 0.3rem 0.9rem;
        text-align: center;
        border-bottom: 1px solid #0005;
      }
    }
  }
}
